.containerButton {
    display: flex;
    width: 100%;
    background-color: white;
}

.buttonNext {
    border-radius: 4px;
    height: 40px;
    width: 97px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    margin: 16px;
    border: transparent;
    cursor: pointer;
}

.buttonNext > span {
    padding: 16px 12px;
}

.buttonNext:hover {
    filter: brightness(1.5);
}









@media screen and (min-width: 1040px) {
    .containerButton {
        grid-column: 2;
        background-color: unset;
        width: unset;
    }


}
    
