.containerAll {
    height: 100vh;
    background-color: #EFF5FF;
}

.containerForm {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    top: 98px;
    left: 0;
    right: 0;
    width: 50%;
}

.containerForm>* {
    margin-bottom: 20px;
}

.containerInfo {
    background-color: #F8F9FF;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 24px;
}

.containerInfo>div {
    padding: 10px 0;
}

.containerPlan {
    display: flex;
    justify-content: space-between;
}

.police {
    color: #9699AA;
    font-size: 14px;
}

.link {
    text-decoration: underline;
}

.police5 {
    color: #022959;
    font-size: 14px;
    font-weight: 500;
}

.containerAddons {
    display: flex;
    justify-content: space-between;
}

.addonsPrice {
    color: #022959;
    font-size: 14px;
}

.totalPrice {
    font-weight: 700;
    font-size: 16px;
    color: #483EFF;
}

.containerInfo>hr {
    background-color: #9699AA;
    mix-blend-mode: normal;
    opacity: 0.2;
}